@use "../../styles/colors.scss" as *;

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-top: solid 3px $border-warning-color;
  &__icon {
    width: 15px;
  }
  &__button {
    border: solid 3px black;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: $primary-button-color;
    cursor: pointer;
  }
}
