@use "../../styles/colors.scss" as *;

.notification {
  display: flex;
  flex-direction: column;
  border: solid 3px $border-warning-color;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &__icon {
    width: 15px;
  }
  &__message {
  }
  &__button {
    border: solid 3px black;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: $primary-button-color;
  }
}
