@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-colour;
  gap: 1rem;
  padding: 2rem 0;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__container-right {
    display: flex;
    flex-direction: row;
  }

  &__img {
    height: 1.3rem;
    width: 1.3rem;
  }

  &__img-question {
    height: 100%;
    width: 100%;
    padding: 0.1rem;
  }

  &__img-question-div {
    border: 1px solid black;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50px;
    margin-right: 0.5rem;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__button {
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
  }

  &__button-clicked {
    background-color: black;
    color: white;
  }
}
