@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.header {
  display: flex;
  flex-direction: column;
  background-color: $primary-background-colour;
  gap: 1rem;
  padding: 2rem 0;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__container-right {
    display: flex;
    flex-direction: row;
  }

  &__img {
    height: 1.3rem;
    width: 1.3rem;
  }

  &__img-question {
    height: 100%;
    width: 100%;
  }

  &__img-question-div {
    border: 1px solid black;
    height: 1rem;
    width: 1rem;
    border-radius: 50px;
  }

  &__title {
    font-size: 1rem;
  }
}
