@use "../../styles/colors" as *;
@use "../../styles/typography";

.footer {
  position: fixed;
  bottom: 0;
  font-family: "Inter";
  background-color: $primary-box-colour;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

  &__icon {
    width: 20px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem 2rem 1.5rem;
    &--active {
      border-top: 4px solid $primary-button-color;
    }
  }

  &__text {
    margin: 0;
    margin-top: 0.5rem;
  }
}
